{% assign parent = forloop.index %}
<article itemprop="{{ include.itemprop }}" itemscope itemtype="http://schema.org/Organization">
    <meta content="{{ item.name }}" itemprop="name">
    <meta content="{{ item.url }}" itemprop="url">
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <meta content="{{ item.address }}" itemprop="addressLocality">
    </div>
    <div itemprop="employee" itemscope itemtype="http://schema.org/Person">
        <meta content="#alla" itemprop="sameAs">
        <div itemprop="hasOccupation" itemscope itemtype="http://schema.org/EmployeeRole">
            <meta content="{{ item.position }}" itemprop="roleName">
            <meta content="{{ item.date_start | date: '%Y-%m' }}" itemprop="startDate">
            <meta content="{{ item.date_end | date: '%Y-%m' }}" itemprop="endDate">
        </div>
    </div>
    <h3 class="fs-5 fx-row fx-wrap">
        <span class="mr-4">{{ item.name }} — {{ item.position }}</span>
        <i class="m-auto"></i>
        <span class="normal small">{% include period start=item.date_start end=item.date_end %}</span>
    </h3>
    {{ item.summary | markdownify }}
    <h4 class="fs-6">Duties:</h4>
    {{ item.duties | markdownify }}
    <h4 class="fs-6">Featured projects:</h4>
    <ul class="cv-project-list">
        {% for project in item.projects %}
        <li class="cv-project-item image-thumb">
            <div class="image-thumb-backdrop"></div>
            <div class="image-thumb-content">
                <div class="ratio ratio-16x9">
                    <img loading="lazy" src="{{ project.image | append: '?random=' | append: parent | append: forloop.index }}">
                </div>
                <div class="image-thumb-summary">{{ project.summary }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</article>