<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=5,initial-scale=1">
<meta property="og:type" content="{{ page.opengraph.type }}">
<meta property="profile:first_name" content="{{ page.profile.first_name }}">
<meta property="profile:last_name" content="{{ page.profile.last_name }}">
{% seo title=false %}
{% include carcass/favicon.liquid %}
