<title>{{ page.title }}</title>
{% include carcass/favicon.liquid %}
<meta property="og:type" content="{{ page.opengraph.type }}">
<meta property="profile:first_name" content="{{ page.profile.first_name }}">
<meta property="profile:last_name" content="{{ page.profile.last_name }}">
{% seo title=false %}
