:hover{
  > .rotate-on-hover{
    animation:rotation 1s linear infinite;
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}