<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
{% include carcass/meta.liquid -%}
{% include carcass/resources.liquid %}
</head>
<body>
{{ content }}
{% include carcass/import.liquid -%}
</body>
</html>
